main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 0 10px rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
}

.delete-video {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgb(200, 200, 200);
  box-shadow: 0 0 5px rgb(200, 200, 200);
  background-color: red;
  padding: 5px;
  margin-top: 3px;

  color: white;
}

a {
  color: white;
  text-decoration: none;
}
.connect-button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 0px;
  box-sizing: content-box;
  height: 1.4375em;
  margin: 0px;
  min-width: 0px;
  width: 250px;
  height: 40px;
  padding: 8.5px 14px;
}

.platform-image {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  object-fit: cover;
}

.platform-card {
  box-shadow: 0 0 10px rgb(200, 200, 200);
  border-radius: 12px;
  word-break: break-all;
  white-space: pre-wrap;
}

.max-lines {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.player-card {
  height: 200px;
  margin-right: 10px;
  background-color: black;
}

.direct-button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.profile-image1 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 10px rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.profile_header {
  width: 100%;
  height: auto 13;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
}

.profile_cover div {
  width: 970px;
  height: 115px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-radius: 4px 4px 4px 4px;
}

.profile_photo img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: -50px 0px 10px 0px;
  position: relative;
  z-index: 111;
  background-color: white;
  -webkit-box-shadow: 0 0 1px rgb(200, 200, 200);
  box-shadow: 0 0 2px rgb(200, 200, 200);
}

.edit-profile-image {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
  background-color: white;
  margin-right: 120px;
  margin-bottom: 30px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 112;
}

/* .profile_card div{
  width: 130px;
  height: 130px;
  margin: -50px 0px 10px 0px;
  position:relative;
  z-index:111;
  background-color:white;
  -webkit-box-shadow: 0 0 1px rgb(200, 200, 200);
  box-shadow: 0 0 2px rgb(200, 200, 200);
} */

.profile-card {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 10px rgb(200, 200, 200);
  border-radius: 12px;
}
.profile-card-bg {
  border-bottom: 1px solid #e1e8ed;
  border-radius: 12px;
  height: 120px;
}

.twPc-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%;
}
.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -50px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}
.twPc-avatarImg1 {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: 5px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 100px;
  width: 100px;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 100px;
  width: 100px;
}
.twPc-divUser {
  margin: 5px 0 0;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}
.twPc-divStats {
  margin-left: 11px;
  padding: 10px 10px 10px 0px;
}
.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}
.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

.zstack {
  display: grid;
  align-items: start;
  justify-items: end;
}
.zstack > * {
  grid-area: 1/1/1/1;
}
#company-name-length-adjust {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
/* Styles for MD breakpoint */
@media (min-width: 768px) and (max-width: 991px) {
  .image-adjust {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1014px) {
  #title-size-adjustment {
    font-size: 9px;
  }
}

/* .form-control {
  height: 55px !important;
  width: 350px !important;
} */
