main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 0 10px rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
}

.delete-video {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgb(200, 200, 200);
  box-shadow: 0 0 5px rgb(200, 200, 200);
  background-color: red;
  padding: 5px;
  margin-top: 3px;

  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.connect-button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 0px;
  box-sizing: content-box;
  height: 1.4375em;
  margin: 0px;
  min-width: 0px;
  width: 250px;
  height: 40px;
  padding: 8.5px 14px;
}

.platform-image {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  object-fit: cover;
}

.platform-card {
  box-shadow: 0 0 10px rgb(200, 200, 200);
  border-radius: 12px;
  word-break: break-all;
  white-space: pre-wrap;
}

.max-lines {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.direct-button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.profile-image1 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 10px rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.profile_header {
  width: 100%;
  height: auto 13;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
}

.profile_cover div {
  width: 970px;
  height: 115px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-radius: 4px 4px 4px 4px;
}

.profile_photo img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: -50px 0px 10px 0px;
  position: relative;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0 0 1px rgb(200, 200, 200);
  box-shadow: 0 0 2px rgb(200, 200, 200);
}

.edit-profile-image {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
  background-color: white;
  margin-right: 120px;
  margin-bottom: 30px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.image-viewer {
  position: absolute;
  z-index: 4;
}

.profile-card {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 10px rgb(200, 200, 200);
  border-radius: 12px;
}
.profile-card-bg {
  border-bottom: 1px solid #e1e8ed;
  border-radius: 12px;
  height: 120px;
}

.twPc-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%;
}
.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -50px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}
.twPc-avatarImg1 {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: 5px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 100px;
  width: 100px;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 100px;
  width: 100px;
}
.twPc-divUser {
  margin: 5px 0 0;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}
.twPc-divStats {
  margin-left: 11px;
  padding: 10px 10px 10px 0px;
}
.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}
.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

.zstack {
  display: grid;
  align-items: start;
  justify-items: end;
}
.zstack > * {
  grid-area: 1/1/1/1;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .name-length-adjust {
    font-size: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}
@media (min-width: 100px) and (max-width: 389px) {
  .small-length-adjust {
    font-size: 8px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}
/* Styles for MD breakpoint */
@media (min-width: 768px) and (max-width: 991px) {
  #image-adjustment {
    position: relative;
  }
  .image-adjust {
    width: 100%;
    height: auto;
  }
}

#show-password-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#show-password-input {
  margin-right: 10px;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 20px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 20px;
  color: black;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #button-text-adjustment {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #button-text-adjustment {
    font-size: 8px;
  }
}
@media (min-width: 100px) and (max-width: 349px) {
  #button-text-adjustment {
    font-size: 8px;
  }
}
@media (min-width: 900px) and (max-width: 1047px) {
  #save-contact-text-adjustment {
    font-size: 9px;
  }
}
@media (min-width: 768px) and (max-width: 899px) {
  #save-contact-text-adjustment {
    font-size: 6px;
  }
}
@media (min-width: 100px) and (max-width: 349px) {
  #save-contact-text-adjustment {
    font-size: 9px;
  }
}
@media (min-width: 100px) and (max-width: 299px) {
  #save-contact-text-adjustment {
    font-size: 5px;
  }
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
}

.profile-cover {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 140px;
  width: 100%;
  padding-top: 80px;
  margin-bottom: 60px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: #fff;
}
.validation-color {
  color: red;
}

.password-input-container {
  position: relative;
}

.password-input {
  padding-right: 40px;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon {
  color: #777;
}
#share-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#title-items {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.video-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.reactEasyCrop_Container {
  background-color: black;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: rgb(0, 0, 0);
  top: 95% !important;
}
.mySwiper .swiper-button-prev {
  padding-left: 120px;
}
.mySwiper .swiper-button-next {
  padding-right: 120px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .card-size {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-size {
    width: 420px;
  }
}
@media (min-width: 400px) and (max-width: 449px) {
  .card-size {
    margin-bottom: 55px;
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 350px) and (max-width: 399px) {
  .card-size {
    margin-bottom: 155px;
    width: 300px;
    height: 100px;
  }
}

.dropdown-toggle {
  background-color: transparent !important;
  outline: none !important;
}
.dropdown-toggle::before {
  display: none !important;
}

.cancel-button {
  background-color: #7066e0 !important;
}

.react-tel-input .form-control {
  width: 100% !important;
}
