main {
  min-height: 80vh;
}

table td,
table th {
  text-align: center;
}

.card{
  box-shadow: 0 0 10px rgb(200, 200, 200);
  border-radius: 12px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.icon-button {
  background: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 1px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgb(200, 200, 200);
  background-color: #fff;background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: background-color 0.3s ease;
}
.icon-button:hover{
  background-color: #e0e0e0;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 20px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 20px;
  color: black;
}

/* CSS for profile card */
.profile-card {
  color: white;
  box-shadow: 0 0 10px rgb(200, 200, 200);
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.profile-card h5,
.profile-card h6 {
  color: white;

  @media (max-width: 400px) {
    font-size: 10px;
    /* Adjust the font size as needed for screens <= 400px */
  }

  @media (max-width: 300px) {
    font-size: 8px;
    /* Adjust the font size as needed for screens <= 300px */
  }
}

.profile-card p {
  color: white;

  @media (max-width: 400px) {
    font-size: 10px;
    /* Adjust the font size as needed for screens <= 400px */
  }

  @media (max-width: 300px) {
    font-size: 8px;
    /* Adjust the font size as needed for screens <= 300px */
  }
}

.profile-image {
  width: 100%;
  height: auto;
  min-height: 150px;
  object-fit: contain;
  display: block;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
}